.container{
    display: flex;
    flex-flow: column wrap;
    width: 100%;
    align-content: center;
    padding: 2vw;
}

.container header{
    background: orange;
    margin: 10px 0;
    height: 20%;
}

.container footer{
    background-color:black;
    margin-top: 10px;
    height: 20%;
}

.container footer p, .container header h2{
    color: white;
    text-align: center;
    padding: 10px 0;
}

.content {
    display: flex;
    height: 60%;
}

.content section{
    width: 70%;
    background-color: bisque;
    padding: 5px;
    word-wrap: break-word;
}

.content section img{
     width: 100%;
     height: 200px;
}

.content aside{
    width: 30%;
    background-color: lightgray;
    padding: 10px;
    margin-left: 5px;
}

/*General Phone*/
@media screen and (min-width: 360px) and (max-width: 640px){
    .content{
        display: flex;
        flex-flow: column nowrap;
    }

    .content aside, .content section{
        width: 100%;
    }
}

/*Ipad PRO*/
@media screen and (width: 1024px) and (height: 1366px), (width: 1366px) and (height: 1024px){

    .content{
        display: flex;
        flex-flow: column nowrap;
    }

    .content aside, .content section{
        width: 100%;
    }

    p{
        font-size: 2em;
    }

}

@media only screen and (orientation: portrait) {
    .container {
        background-color: lightblue;
    }
}

@media screen {
    .container {
        color: green; 
    }
}


@media print {
    .container {
        color:  blue; 
    }
}
