
<div class="container">

  <header>
    <h2>RWD My Responsive Web Page</h2>
  </header>

  <div class="content">

  <section>

    <img src="http://lorempixel.com/1200/200" alt="photo"/>

    <p>
      Proin magna lorem, vestibulum at facilisis sed, scelerisque non massa. Duis pellentesque augue augue, eget mattis sapien ultricies sed. Integer dignissim ipsum quis facilisis lacinia. Fusce pretium, diam vel dignissim finibus, augue purus lobortis massa, quis ultrices urna mauris a erat. Aenean maximus aliquet felis, scelerisque facilisis est placerat ut. Sed in lorem consequat, bibendum lorem sed, mollis lacus. Mauris odio sapien, efficitur at sem sed, aliquam ultricies dui. Maecenas ac sodales lorem. Curabitur eleifend magna ac felis auctor, malesuada consectetur diam egestas. Aenean luctus massa quis nisi faucibus lobortis.
    </p>

  </section>

    <aside>

      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam iaculis ut velit mattis hendrerit. Sed sed nibh quis ante finibus aliquam. Pellentesque dapibus justo vitae felis sagittis, non porta augue feugiat. Aenean hendrerit cursus enim sit amet aliquet. Pellentesque lorem nunc, hendrerit id leo sit amet, vehicula imperdiet eros. Integer sollicitudin at neque vel feugiat. Donec id tempor eros, sit amet pulvinar tellus. Nullam pharetra, nisi ut varius scelerisque, purus risus laoreet orci, sed condimentum nisi odio at urna. Praesent eu mollis tellus.
      </p>
  
    </aside>

  </div>

  <footer>

    <p>
      In maximus arcu sagittis libero euismod dapibus. Maecenas fringilla elementum urna, eu pretium augue dictum ullamcorper. Suspendisse sodales tortor nec eleifend volutpat. Sed blandit convallis faucibus. Nulla facilisi. Cras vel tempor sapien, quis suscipit quam. Vestibulum imperdiet augue a elit scelerisque sodales. Donec imperdiet sapien non ultrices aliquam. Sed convallis scelerisque elit, eget vulputate tellus. Vestibulum luctus ligula in tempor suscipit. Vestibulum pharetra dui in libero viverra, eu placerat dolor aliquet. Nullam fringilla mi vel nibh commodo sagittis. Pellentesque at quam nec lorem semper tincidunt tempor non tortor.
    </p>

  </footer>

</div>